{% extends 'orders/base.html' %}
{% load static %}
{% block title %}Зміна пароля{% endblock %}

{% block content %}
    <style>
        .password-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 90.3vh;
            position: relative;
            overflow: hidden;
        }
        .floating-image {
            top: 50%;
            left: 50%;
            width: 2200px;
            height: auto;
            transform: translate(-50%, -50%);
            pointer-events: none;
            transition: transform 0.1s ease-out;
            opacity: 0.6;
            position: fixed;
            z-index: 0;
        }
        .password-box {
            background: white;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
            width: 100%;
            max-width: 400px;
            text-align: center;
            position: relative;
            z-index: 9;
        }
        .password-box h2 {
            margin-bottom: 15px;
        }
    </style>

    <div class="password-container">
        <img src="{% static 'orders/images/log.jpg' %}" class="floating-image" alt="Floating Image">
        <div class="password-box">
            <h2>Зміна паролю</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn-submit">Змінити пароль</button>
                <a href="{% url 'user_profile' %}" class="more-btn" style="margin-top: 20px;">Назад до профілю</a>
            </form>
        </div>
    </div>

    <script>
        document.addEventListener('mousemove', function(event) {
            const floatingImage = document.querySelector('.floating-image');
            const moveX = (event.clientX - window.innerWidth / 2) * 0.02;
            const moveY = (event.clientY - window.innerHeight / 2) * 0.02;
            floatingImage.style.transform = `translate(-50%, -50%) translate(${moveX}px, ${moveY}px)`;
        });
    </script>
{% endblock %}
