{% extends 'orders/base.html' %}
{% load static %}
{% block title %}Вхід{% endblock %}

{% block content %}
    <style>
        .auth-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 90.3vh;
            position: relative;
            overflow: hidden;
        }
        .floating-image {
            top: 50%;
            left: 50%;
            width: 2200px;
            height: auto;
            transform: translate(-50%, -50%);
            pointer-events: none;
            transition: transform 0.1s ease-out;
            opacity: 0.6;
            position: fixed;
            z-index: 0;
        }
        .auth-form {
            background: white;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
            width: 100%;
            max-width: 400px;
            text-align: center;
            position: relative;
            z-index: 9;
        }
        .auth-form p {
            margin-top: 15px;
        }
        .auth-form a {
            color: #f6cece;
            text-decoration: none;
        }
        .auth-form a:hover {
            text-decoration: underline;
        }
    </style>

    <div class="auth-container">
        <img src="{% static 'orders/images/log.jpg' %}" class="floating-image" alt="Floating Image">
        <div class="auth-form">
            <h2>Вхід</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}

                {% if request.GET.next %}
                    <input type="hidden" name="next" value="{{ request.GET.next }}">
                {% endif %}

                <button type="submit" class="btn-submit">Увійти</button>
            </form>
            <p>Якщо у вас немає аккаунту, <a href="{% url 'register' %}">створіть його</a></p>
        </div>
    </div>

    <script>
        document.addEventListener('mousemove', function(event) {
            const floatingImage = document.querySelector('.floating-image');
            const moveX = (event.clientX - window.innerWidth / 2) * 0.02;
            const moveY = (event.clientY - window.innerHeight / 2) * 0.02;
            floatingImage.style.transform = `translate(-50%, -50%) translate(${moveX}px, ${moveY}px)`;
        });
    </script>
{% endblock %}
