@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

/* Адаптивність для зображень */
img {
  max-width: 100%;
  height: auto;
}

/* Темна тема (опціонально) */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #1a202c;
    color: #f7fafc;
  }

  header {
    background-color: #2d3748;
  }

  a {
    color: #f687b3;
  }

  footer {
    border-color: #4a5568;
  }
}

/* Медіа-запити для адаптивності */
@media (max-width: 640px) {
  header .flex {
    flex-direction: column;
    text-align: center;
  }

  header img {
    margin-bottom: 1rem;
  }
}